h1.ix {
  font-size: 4rem;
  font-family: var(--font-display);
  margin: 0;
}

h2.ix {
  font-size: 3rem;
  font-family: var(--font-display);
  margin: 0;
}

h3.ix {
  font-size: 2rem;
  font-family: var(--font-display);
  margin: 0;
}

h4.ix {
  font-size: 1.5rem;
  font-family: var(--font-display);
  margin: 0;
}

h5.ix {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  margin: 0;
}

h6.ix {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-md);
  margin: 0;
}
