label.ix {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

label.ix + input[type="text"],
label.ix + input[list] {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

label.ix + select {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
