.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.max-w-lg {
  max-width: 32rem;
}
.max-w-xl {
  max-width: 40rem;
}
.max-w-2xl {
  max-width: 48rem;
}
