button {
  border: none;
  background-color: var(--color-primary);
  color: var(--white);
  cursor: pointer;
  border-radius: var(--one-half);
  font-size: var(--base);
  letter-spacing: 0.05rem;
  padding: var(--one-half) var(--base);
  transition: var(--tReg);
}

button[data-variant="secondary"] {
  background-color: var(--color-secondary);
}
