:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* ==================== FONTS ==================== */
  --font-display: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Ubuntu", sans-serif;

  /* ==================== COLORS ==================== */
  /* ================================================ */

  /* ================== BASE COLORS ================= */
  --white: #fff;
  --black: #212121;
  --color-primary: rgb(8, 78, 207);
  --color-secondary: rgb(246, 222, 0);
  /* =============== DERIVED COLORS ================ */
  --grey-10: rgba(33, 33, 33, 0.1);
  --grey-20: rgba(33, 33, 33, 0.2);
  --grey-30: rgba(33, 33, 33, 0.3);
  --grey-40: rgba(33, 33, 33, 0.4);
  --grey-50: rgba(33, 33, 33, 0.5);
  --grey-60: rgba(33, 33, 33, 0.6);
  --grey-70: rgba(33, 33, 33, 0.7);
  --grey-80: rgba(33, 33, 33, 0.8);
  --grey-90: rgba(33, 33, 33, 0.9);
  --grey-dark: var(--grey-70);
  --grey-mid: var(--grey-30);
  --grey-light: var(--grey-10);
  
  --yellow: #ffc93d;
  --dYellow: #e0a308;
  --green: #03AB00;
  --dGreen: #089206;
  
  /* ==================== EFFECTS ==================== */
  /* ================================================= */
  --gradient: linear-gradient(180deg, #262626 0%, #131313 100%);
  --shadow: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --tReg: ease-in-out .05s; /* transition regular */


  /* ==================== LAYOUT ===================== */
  /* ================================================= */
  --z-nav: 10;

  
  /* ===================== SIZES ===================== */
  /* ================================================= */
  --one-half: 8px;
  --three-quarters: 12px;
  --seven-eighths: 14px;
  --base: 1rem;
  --plus-quarter: 20px;
  --plus-half: 24px;
  --times-two: 32px;
  --times-three: 48px;
  --times-four: 64px;
  /* ================== Font Sizes ================= */
  --font-sm: var(--three-quarters);
  --font-md: var(--base);
  --font-lg: var(--plus-quarter);
  --font-xl: var(--times-two);
  --font-xxl: var(--times-three);

  /* Padding */
  --pSm: var(--base);
  --pMd: var(--times-two);
  --pLg: var(--times-three);
}

html {
  font-size: 16px;
}

* + * {
  box-sizing: border-box;
}

