button {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
  border-radius: var(--one-half);
  box-shadow: var(--shadow-2);
  font-size: var(--base);
  letter-spacing: 0.05rem;
  padding: var(--one-half) var(--base);
  transition: var(--transition);
}

button:hover {
  background-color: var(--primary-hover);
}
button:active {
  background-color: var(--primary-active);
}
button:disabled {
  background-color: var(--primary-disabled);
}

button.secondary,
button[data-variant="secondary"] {
  background-color: var(--white);
  border: var(--border-light);
  color: var(--black);
  box-shadow: var(--shadow-2);
}

button.secondary:hover:not(:disabled) {
  border-color: var(--primary);
  border-width: 1px;
  background-color: var(--primary-10);
}
button.secondary:active:not(:disabled) {
  border-color: var(--primary-active);
  background-color: var(--primary-20);
}
button.secondary:disabled {
  background-color: var(--grey-10);
}
