button,
input[type="submit"],
button-2 {
  border: none;
  cursor: pointer;
  border-radius: var(--one-half);
  box-shadow: var(--shadow-2);
  font-size: var(--base);
  letter-spacing: 0.05rem;
  padding: var(--one-half) var(--base);
  transition: var(--transition);
}

button,
input[type="submit"] {
  background-color: var(--primary);
  color: var(--white);
}
button:hover {
  background-color: var(--primary-hover);
}
button:active {
  background-color: var(--primary-active);
}
button:disabled {
  background-color: var(--primary-disabled);
}
