code {
  background-color: var(--grey-10);
  border: solid 1px var(--grey-20);
  display: inline;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  line-height: 1.5rem;
  margin: 0 0.25rem;
}

kbd {
  background-color: var(--grey-10);
  border: solid 1px var(--grey-20);
  border-radius: 0.25rem;
  font-size: 1rem;
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
}

samp {
  background-color: var(--grey-10);
  border: solid 1px var(--grey-20);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

var {
  background-color: var(--grey-10);
  border: solid 1px var(--grey-20);
  border-radius: 0.25rem;
  font-family: monospace;
  /* font-style: normal; */
  padding: 0.25rem;
}

code.block {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0;
}
