code,
kbd,
samp,
var,
pre {
  background-color: var(--bg-light);
  border: var(--border-light);
  color: var(--color-code);
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  line-height: 1.5rem;
  margin: 0 0.25rem;
}
