details {
}

summary {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

details > *:not(summary) {
  border-left: var(--border-light);
  letter-spacing: 0.0125rem;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}
