fieldset {
  border: none;
  padding: 0;
  margin-top: 2.25rem;
  position: relative;
}

fieldset legend {
  font-weight: bolder;
  position: absolute;
  left: 0;
  top: -1.25rem;
}

fieldset input[type="radio"] {
  cursor: pointer;
}

fieldset label {
  font-weight: normal;
  margin: 0.5rem 0;
}
