h1 {
  font-size: var(--font-4xl);
  font-family: var(--font-display);
}

h2 {
  font-size: var(--font-3xl);
  font-family: var(--font-display);
}

h3 {
  font-size: var(--font-2xl);
  font-family: var(--font-display);
}

h4 {
  font-size: var(--font-xl);
  font-family: var(--font-display);
}

h5 {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-lg);
}

h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-md);
}
