h1 {
  font-size: var(--font-xxl);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-xl);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h3 {
  font-size: var(--font-lg);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h4,
h5,
h6 {
  font-size: var(--font-md);
  font-family: var(--font-display);
  margin: 1rem 0;
}
