input,
textarea {
  border: 1px solid var(--grey-20);
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.5;
  padding: calc(0.5em - 1px) calc(0.75em - 1px);
  position: relative;
}

textarea {
  font-family: var(--body);
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

label + input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

label input[type="checkbox"] + * {
  font-weight: normal;
  cursor: pointer;
}

label input[type="checkbox"],
label input[type="radio"] {
  margin-right: 0.5rem;
}
