a {
  color: var(--primary);
  font-family: var(--font-body);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: var(--font-body);
  letter-spacing: 0.0125rem;
  line-height: 1.5rem;
}

span {
  font-family: var(--font-body);
}

em {
  font-weight: bolder;
}

address {
}

abbr {
}

cite {
  font-style: italic;
}
