h1 {
  font-size: var(--font-xxl);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-xl);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h3 {
  font-size: var(--font-lg);
  font-family: var(--font-display);
  margin: 1rem 0;
}

h4,
h5,
h6 {
  font-size: var(--font-md);
  font-family: var(--font-display);
  margin: 1rem 0;
}

/* ANCHOR TAG */
a {
  color: var(--primary);
  font-family: var(--font-body);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* PARAGRAPH TAG */
p {
  font-family: var(--font-body);
  letter-spacing: 0.0125rem;
  line-height: 1.5rem;
  /* margin: 0; */
}
p + p {
  /* margin-top: 1rem; */
}

/* SPAN TAG */
span {
  font-family: var(--font-body);
}

em {
  font-weight: bolder;
}

address {
}

abbr {
}
cite {
  font-style: italic;
}
